@use './variables' as *;

.testimonialsWrapper {
    padding: 60px 0;
    position: relative;
  }
  
  .title {
    font-weight: bold;
    // margin-bottom: 24px;
    color: rgb(255, 124, 0);
    font-family: 'a-alley-garden', cursive;
    font-size: 45px;
    text-align: center;
  }
  
  .sliderContainer {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  
  .testimonialCardWrapper {
    padding: 0 5px;
    height: 100%;
  }
  
  .testimonialCard {
    background-color: #93c14d;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    min-height: 250px;
    max-height: 320px;
    transition: transform 0.3s ease;
    gap: 1rem;
    width: 85%;
    line-height: 1.5;
  }
  
  .testimonialCard:hover {
    transform: translateY(-5px);
  }
  
  .testimonialText {
    font-family: 'helvetica', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    flex-grow: 1;
    margin-bottom: 10px;
  }
  
  .testimonialName {
    font-weight: bold;
    color: #7f1734;
    text-align: right;
    font-size: 15px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: $button-color;
    background-color: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .prevArrow {
    left: -40px;
  }
  
  .nextArrow {
    right: -40px;
  }
  
  .readMoreWrapper {
    text-align: right;
    margin-top: 48px;
  }
  
  .readMoreButton {
    border-radius: 10px;
    background-color:$button-color;
    font-weight: bold;
    color: white;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s;
  
    &:hover {
      background-color: $button-color;
    }
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .title {
      font-size: 36px;
    }
  
    .testimonialCard {
      min-height: 320px;
      max-height: none;
    }
  
    .testimonialText {
      -webkit-line-clamp: 12;
    }
  }
  
  //Why Choose Us

  .whySection {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
  }
  
  .innerContainer {
    max-width: 1000px;
    margin: 0 auto;
    // padding: 0 5px;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 40px;
    color: $button-color;
    font-family:  'a-alley-garden', cursive;
    font-size: 45px;
  
    @media (max-width: 600px) {
      font-size: 32px;
    }
  }
  
  .grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
  
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
  
  .whyCol {
    text-align: center;
    padding: 10px;
  }
  
  .circleIcon {
    margin: 0 auto 12px auto;
    width: 90px;
    height: 90px;
  
    img {
      object-fit: contain;
    }
  }
  
  .text {
    font-family: 'helvetica', sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
  
  //Home Banner
  .bannerWrapper {
    position: relative;
    width: 100%;
    height: 400px;
  
    @media (max-width: 600px) {
      height: 250px;
    }
  
    .slide {
      position: relative;
      width: 100%;
      height: 100%;
    }
  
    .bannerImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  