@use './variables' as *;

.container {
    // padding: 1rem;
    text-align: center;
  }
  
  .title {
    color: $button-color;
    font-family: 'a-alley-garden', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .card {
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: left;
  }
  
  .stars {
    color: #ff5722;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .description {
    font-family: 'helvetica', sans-serif;
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .reviewer {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: right;
    color: #333;
  }
  
  .paginationWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .pageButton {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: white;
    color: $secondary-color;
    cursor: pointer;
    font-size: 0.75rem;
    border-radius: 100px;
    // transition: background-color 0.3s;
    margin-bottom: 5px;
  }
  
  .pageButton:hover {
    background-color: rgba(255, 124, 0, 0.1);
  }
  
  .active {
    color: blue;
    font-weight: bold;
    border: 1px solid blue;
    background-color: rgba(255, 124, 0, 0.3);
  }
  
  .error {
    color: red;
    font-weight: bold;
    padding: 1rem;
  }
  